*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    text-decoration: none;
    scroll-behavior: smooth;
    list-style: none;
    /*background-color: black; /*fond*/
    font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;


}

header{
    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    background-color: rgb(0, 0, 0);
    backdrop-filter: blur(8px);
    /*color: rgb(182, 23, 23);*/
    padding: 0.5rem 1.5rem;
    border-radius: 3rem;
    z-index: 1000;
    
}

.logo{
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
    font-weight: 600;
    text-wrap: nowrap;
    transition: 0.3s ease-in-out; /* hover */
   /* background-color: rgba(18,18,18,0.8); /*gris sombre*/


}

.logo:hover {
    transform: scale(1.1);
}


.nav-links-head {
   /* background-color: rgba(18,18,18,0.8); /*gris sombre*/
background-color: rgb(0, 0, 0); /*black*/

}

.nav-links{
    display: flex;
    gap: 2rem;

}

li a{
    position: relative;
    color: white;
    font-weight: 300;
   /* background-color: rgba(18,18,18,0.8); /*gris sombre*/

}

li a::before{
    position: absolute;
    content: '';
    width: 0;
    left: 0;
    height: 5px;
    top: 25px;
    border-radius: 1rem;
    transition: 0.3s ease-in-out;
    background: linear-gradient(to right, rgba(18,18,18,0.8),rgb(255,121,27));
    
}

li a:hover::before{
    width: 100%;
}

.visit-btn{
    padding: 0.8rem 1.5rem;
    border-radius: 3rem;
    border:none;
    font-weight: 500;
    font-size: 1rem;
    color: rgb(255, 255, 255);
    cursor: pointer;
    text-wrap: nowrap;
    transition: 0.3 ease-in-out;
    background: linear-gradient(to right, rgb(56, 48, 41),rgb(255,121,27));
}

.visit-btn:hover{
    background: linear-gradient(to right,rgb(255,121,27), rgb(56, 48, 41));
    transform: scale(1.03);
}

#menu-icon{
    font-size: 2rem;
    display: none;
}


 /* ----BODY---- */  

section{
    min-height: flex;
    padding: 8rem 12%;
    width:100%;
    position: relative;
    background-color: black; /*fond*/

}

.about{
    display: flex;
    align-items: center;
    justify-content: center;
}

.about .about-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
}


.about img{
    width: 30vw;
    border-radius: 50%;

 }

 .info-box{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
 }

 .text h3{
    font-size: 1.8rem;
    font-weight: 600;
    opacity: 0.8;
    color: rgb(255,121,27);
 }


 .text h1{
    font-size: 2.3rem;
    font-weight: 600;
    color: white;
 }

 .text span{
    font-size: 1.4rem;
    color:#6e6e73;
 }



.btn-group{
    display: flex;
    gap: 1rem
 }


.btn{
    border-radius: 3rem;
    padding: 0.5rem 1.5rem;
    border: 2px solid white;
    cursor: pointer;
    font-weight: 500;
    text-wrap: nowrap;
    transition: 0.2s ease-in-out;
    color: rgb(255, 255, 255);
    /*background-color: rgba(26, 26, 26, 0.8); /*gris sombre  --A DECIDER--*/  


 }

 .btn:hover{
    background-color: black;
    border: 2px solid rgb(255,121,27);
    color: rgb(255,121,27);

 }

.socials {
display: flex;
gap: 1rem;
font-size: 1.2rem;

}
.socials i{
display: flex;
cursor: pointer;
transition: 0.2s ease-in-out;
color: white;
}

.socials i:hover{
transform: scale(1.1);
color: rgb(255,121,27);

}

/* ------------------------------A PROPOS----------------------------------------*/
.apropos h2{
    text-align: center;
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 3rem;
    color: white;

}

.apropos-conteneur{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.apropos-conteneur img{
    width: 24vw;
    border-radius: 3rem;
}

.grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.grid-card{
    border: 1px solid rgb(255, 255, 255);
    border-radius: 3rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    cursor: pointer;
    transition: 0.2s ease-in-out;

}

.grid-card p {
    text-align: center;
    font-weight: 600;
    font-size: 1.2rem;

}

.grid-card:hover{
    transform: scale(1.1);
    background-color: black;
}

.grid-card:hover p {
  background: linear-gradient(to right, rgb(0,157,255), rgb(0,250,20));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-weight: 600;
  font-size: 1.2rem;
}


/*-----------------------------SCROLLBAR---------------------------------*/












/*-------------------------------PROJECT---------------------------------------*/




.projects-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 2rem;

}

.projects-card{
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1.5rem;
    /*border: 1px solid rgb(255, 255, 255);*/
    border: 1px solid rgba(26, 26, 26, 0.8);

    background-color: rgba(26, 26, 26, 0.8); /*gris sombre*/
    border-radius: 3rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    color: #6e6e73;

}

.projects h2{
    text-align: center;
    font-size: 4rem;
    margin-bottom: 3rem;
    color: white;
}


.projects-card:hover{
    /*background-color: black;*/
    color: white;
    transform: translateY(-10px)scale(1.02);
    border: 2px solid #6e6e73;

}

.projects-card img{
    width: 20vw;
    border-radius: 1rem;
}

.btn-group{
    gap: 1rem;
}
.projects-card:hover .btn{
    border: 2px solid white;
    color: white;
}

.projects-card:hover .btn:hover{
    border: 2px solid rgb(255,121,27);
    background-color: rgba(26, 26, 26, 0.8); /*gris sombre*/
    color: rgb(255,121,27);
}

.projects-card h3{
    font-size: 2rem;
    font-weight: 500;
    color: white;
}



/* ----------------------------------SKILL------------------------------ */




.skill-title{
    text-align: center;
    font-size: 4rem;
    margin-bottom: 3rem;
    color: white;
}

.skill-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 2rem;
}

.skill-card{
    width: 0vw;
    padding: 2rem 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1.5rem;
    border: 2px solid black;
    border-radius: 3rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    background-color: rgba(26, 26, 26, 0.8); /*gris sombre*/

}

.skill-card img{
    width: 11vw;
    border-radius: 1rem;
    background-color: rgba(26, 26, 26, -0.2); /*gris sombre*/

}

.skill-card:hover{
    
    transform: translateY(-10px)scale(1.02);
    border: 2px solid #6e6e73;

}



/* ----------------------------------PICTURES----------------------------- */

/* ============================= */
/* CARROUSEL SWIPER */
/* ============================= */

.pictures {
  background: #000;
  text-align: center;
}

.pictures-title {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 3rem;
  color: white;
}

/* Taille du carrousel */
.swiper {
  width: 80%;
  height: 400px;
  margin: 0 auto;
  /*position: sticky;*/
}

/* Style des images */
.swiper-slide img {
  width:80%;
  height: 100%;
  object-fit: cover;
  border-radius: 40px;
  align-items: center;

  
}
:root { /*formaté à la racine */
    --swiper-navigation-color: rgb(255, 255, 255); /* noir par défaut */
    --swiper-navigation-size: 60px; /* taille des flèches */
    --swiper-theme-color:rgb(241, 0, 149);
}

    /* ----Flèches de navigation---- */
.swiper-button-next,
.swiper-button-prev {
  transition: color 0.3s ease;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: orange; /* couleur au survol */
}







/* ----------------------------------INPUT----------------------------- */

.input-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;
    margin-top: 5rem;
}

.input-box h2{
font-size: 3rem;
color: white;
}

.input-box input{
    border-radius: 3rem;
    border: 1px solid rgb(255, 255, 255);
    padding: 2rem 8rem;
    font-size: 1.5rem;
    color: rgb(0, 0, 0);

}

.input-box input::placeholder{
    font-size: 1.5rem;
    color: 6e6e73;
}

.input{
position: relative;
}


.input i{ /* logo enveloppe*/
    position:absolute;
    font-size: 4rem;
    top: 50%;
    left: 10px;
    transform: translate(50%,-50%);
    color: rgb(0, 0, 0);

}

/* ----------------------------------footer----------------------------- */



footer{
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 600;
    background-color: black;

}

footer ul{
    display: flex;
    align-items: center;
    gap: 3rem;
    color: white;
}


footer a{
    color: rgb(255, 255, 255);
    font-weight: 600;



}

.copyright{
    font-size: 300;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: 400;
    
}


@media(max-width:1280px){


}

@media(max-width:768px){

    
}

@media(max-width:600px){

    
}